{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="login" style="margin-bottom: 10%;">
        <h1>Modifier compte</h1>
        <form method="post">
            {% if edit_form.errors %}
                {{ edit_form.errors }}
            {% endif %}
            <p><input type="text" name="first_name" value="{{user.first_name}}" placeholder="Prénom"></p>
            <p><input type="text" name="last_name" value="{{user.last_name}}" placeholder="Nom"></p>
            <p><input type="text" name="email" value="{{user.email}}" placeholder="E-mail"></p>
            {% csrf_token %}
            <p class="submit"><input type="submit" name="commit" value="Valider"></p>      
        </form>
    </div>
{% endblock content %}