{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="sub_header">
        <h1>Mentions Légales</h1>
    </div>

    <div class="mention-content-bloc">
        <h2>Responsable du site</h2>
        <p>Raison sociale : RGLuxeEvents<br />SIRET :  <br />Siège social : <br />Téléphone : <br />Email : </p>
        <p>Ce site internet est soumis à la loi française.</p>
        <p>&nbsp;</p>
    </div>           
                    
    <div class="mention-content-bloc">
        <h2>Conception et hébergement du site</h2>
        <p>Ce site à été conçu par :<br />Alexandre Boucher &#8211; Auto-entrepreuneur<br /><a href="mailto:alexandre.boucher92@gmail.com">alexandre.boucher92@gmail.com</a><br />(+262)0692390821</p>
        <p>Ce site est hébergé par :<br />OVH – SAS au capital de 10 059 500 €<br />RCS Lille Métropole 424 761 419 00045<br />Code APE 6202A<br />N° TVA : FR 22 424 761 419<br />Siège social : 2 rue Kellermann – 59100 Roubaix – France.</p>
        <p>&nbsp;</p>
    </div>      

    <div class="mention-content-bloc">
        <h2>Accès au site</h2>
        <p class="Paragraphe">Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d’une nécessité de maintenance.<o:p></o:p></p>
        <p class="Paragraphe">En cas de modification, interruption ou suspension des services le site cifpe.fr ne saurait être tenu responsable.</p>
        <p>&nbsp;</p>
    </div>
                    
    <div class="mention-content-bloc">
        <h2>Gestion des données personnel</h2>
        <p>Aucune information personnelle de l’utilisateur du site <a href="https://rgluxeevents.re">https://rgluxeevents.re</a> n’est publiée à l’insu de l’utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l’hypothèse du rachat de CIFPE et de ses droits permettrait la transmission des dites informations à l’éventuel acquéreur qui serait à son tour tenu de la même obligation de conservation et de modification des données vis à vis de l’utilisateur du site <a href="https://www.rgluxeevents.re/">https://rgluxeevents.re</a></p>
        <p>Le site n’est pas déclaré à la CNIL car il ne recueille pas d’informations personnelles.</p>
        <p>&nbsp;</p>
    </div>   
                    
    <div class="mention-content-bloc">
        <h2>Propriété intellectuelle</h2>
        <p>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site https://rgluxeevents.re,  sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</p>
    </div>

{% endblock %}

<style>
@media (max-width: 700px) {
    .mentions-legales {
        font-size: 0.95rem;
        padding: 10px;
    }
}
</style>