{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="login" style="margin-bottom: 10%;">
        <h1>Nouveau compte</h1>
        <form method="post">
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
            <p><input type="text" name="first_name" value="" placeholder="Prénom" required ></p>
            <p><input type="text" name="last_name" value="" placeholder="Nom" required ></p>
            <p><input type="tel" name="phone_number" value="" placeholder="Numéro" required ></p>
            <p><input type="email" name="email" value="" placeholder="E-mail" required ></p>
            <p><input type="password" name="password1" value="" placeholder="Mot de passe" required ></p>
            <p><input type="password" name="password2" value="" placeholder="Confirmation du mot de passe" required ></p>
            {% csrf_token %}
            <p class="submit"><input type="submit" name="commit" value="Valider"></p>      
        </form>
    </div>
{% endblock content %}

