{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="login" style="margin-bottom: 10%;">
        <h1>Nouveau compte</h1>
        <form method="post">
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
            <p><input type="text" name="first_name" value="" placeholder="Prénom" required ></p>
            <p><input type="text" name="last_name" value="" placeholder="Nom" required ></p>
            <p><input type="tel" name="phone_number" value="" placeholder="Numéro" required ></p>
            <p><input type="email" name="email" value="" placeholder="E-mail" required ></p>
            <p><input type="password" name="password1" value="" placeholder="Mot de passe" required ></p>
            <p><input type="password" name="password2" value="" placeholder="Confirmation du mot de passe" required ></p>
            {% csrf_token %}
            <p class="submit"><input type="submit" name="commit" value="Valider"></p>      
        </form>
    </div>
{% endblock content %}

<style>
.new-user-form {
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 20px #dbc067;
}
@media (max-width: 600px) {
    .new-user-form {
        width: 98vw;
        padding: 10px;
    }
    .new-user-form label, .new-user-form input, .new-user-form button {
        font-size: 1rem;
    }
}
</style>

