{% extends 'base.html' %}
{% block content %}
<div class="login">
  <h1>Mot de passe oublié?</h1>
  <p>Entrez votre adresse email ce dessous et nous vous enverrons es instructions pour modifier votre mot de passe.</br></br></p>
  <form method="post">
      {% if password_reset_form.errors %}
          {{ password_reset_form.errors }}
      {% endif %}
      {% csrf_token %}
      <label for="id_email">E-mail&nbsp;:</label>
    {{ password_reset_form.email }}
      <p class="submit"><input type="submit" name="commit" value="Envoyer"></p>      
  </form>
</div>

{% endblock %}