{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="title-name">
        <h1>Administration</h1>
    </div>
    <div class="sub-title-name">
        <p><a href="{% url 'admin-calendar' %}">Calendrier</a> - <a href="{% url 'admin-users' %}">Utilisateurs</a></p>
    </div>
    
    <div class="body-content"> 
        <div class="admin-managment">
            <div class="admin-activity">
                <div id="admin-activity-list" class="active">
                    <div class="navigation">
                        <h1>{{ jourS_string }} {{ jourS }} {{ moisS_string }} {{ anneeS }}</h1>
                    </div>
                    <div class="activity-list">
                        {% for activity in all_activity %}
                            <div class="activity-acti" onclick="showDesc('{{ activity.id }}', '{{ activity.acti }}')">
                                <p>{{ activity.acti }}</p>
                                <p>{{ activity.customer.first_name }} {{ activity.customer.last_name }}</p>
                                {% if activity.hour %}
                                    <p>{{ activity.hour }}</p>
                                {% endif %} 
                            </div>                        
                        {% endfor %}
                    </div>
                </div>
                <div id="admin-activity-desc" class="">
                    <h2 id="acti-acti"></h2>
                    <p id="acti-departure"></p>
                    <p id="acti-arrival"></p>
                    <p id="acti-date"></p>
                    <p id="acti-price"></p>
                    <br>
                    <h2>INFO CLIENT</h2>
                    <p id="acti-customer-name"></p>
                    <p id="acti-customer-phone"></p>
                    <p id="acti-customer-email"></p>
                    <button onclick="showList()">&larr;</button>
                </div>
            </div>
            <div class="admin-calendar">
                <div class="navigation">
                    <a href="{% url 'admin-calendar' annee_precedente mois_precedent %}">&larr;</a>
                    <h1>{{ mois_string }} {{ annee }}</h1>
                    <a href="{% url 'admin-calendar' annee_suivante mois_suivant %}">&rarr;</a>
                </div>

                <table>
                    <thead>
                        <tr>
                            <th>Lun</th>
                            <th>Mar</th>
                            <th>Mer</th>
                            <th>Jeu</th>
                            <th>Ven</th>
                            <th>Sam</th>
                            <th>Dim</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for jour in jours_formattes %}
                                {% if jour.jour %}
                                    {% if jour.jour == jourS and mois == moisS and anneeS == annee %}
                                        {% if jour.jour_semaine_abbr == 'Sun' %}
                                            <td style="color:red; cursor: pointer;" onClick="changeDay('{{ annee }}', '{{ mois }}', '{{ jour.jour }}')"><span class="jour-selected">{{ jour.jour }}</span></td>
                                        {% else %}
                                            <td style="cursor: pointer;" onClick="changeDay('{{ annee }}', '{{ mois }}', '{{ jour.jour }}')"><span class="jour-selected">{{ jour.jour }}</span></td>
                                        {% endif %}
                                    {% else %}
                                        {% if jour.jour_semaine_abbr == 'Sun' %}
                                            <td style="color:red; cursor: pointer;" onClick="changeDay('{{ annee }}', '{{ mois }}', '{{ jour.jour }}')">{{ jour.jour }}</td>
                                        {% else %}
                                            <td style="cursor: pointer;" onClick="changeDay('{{ annee }}', '{{ mois }}', '{{ jour.jour }}')">{{ jour.jour }}</td>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <td></td> <!-- Case vide pour les jours avant le début du mois -->
                                {% endif %}
                                {% if forloop.counter|divisibleby:7 and not forloop.first %}
                                    </tr><tr>
                                {% endif %}                            
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Pop-up new acti -->
        <div id="popupNewActi" class="popup">
            <div class="login" style="margin-bottom: 10%;">
                <span id="closePopupBtn" class="close-btn">&times;</span>
                <select name="chooseActi" id="chooseActi">
                    <option value=""></option>
                    <option value="DRIVER">DRIVER</option>
                    <option value="AEROPORT">AEROPORT</option>
                    <option value="TOURISM">TOURISM</option>
                    <option value="DRIVER">PHOTOMATON</option>
                    <option value="MARIAGE">MARIAGE</option>
                    <option value="PHOTOMATON">PHOTOMATON</option>
                </select>
                <p><input type="text" value="{{user.first_name}} {{user.last_name}}" disabled></p>
                <p><input type="text" value="{{user.email}}" disabled></p>
                <p><input type="text" value="{{user.phone_number}}" disabled></p>
            </div>
        </div>
        <button id="newActiPopup"><span>+</span></button>
    </div>

{% endblock content %}

{% block css %}
    <style>
        .title-name {
            margin-top: 30px;
            margin-bottom: 15px;

            h1 {
                width: max-content;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .sub-title-name {
            width: max-content;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;

            p, a {
                font-size: 20px;
                color: #a98e35;
            }
        }

        .admin-managment {
            display: grid;
            grid-template-columns: 75% 25%;
            padding: 10px;
            text-align: center;

            margin-bottom: 30px;
        }

        .admin-activity {
            h1 {
                font-size: 20px;
                margin-bottom: 15px;
            }
        }

        .admin-calendar {
            width: max-content;
            h1 {
                font-size: 20px;
                line-height: 38px;
            }
        }

        .navigation {
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
        }
        .navigation a {
            font-size: 30px;
            text-decoration: none;
            color: #a98e35;
            border-radius: 5px;
        }

        .activity-acti {            
            display: grid;
            grid-template-columns: auto auto auto;
            padding: 10px;
            text-align: center;
            cursor: pointer;

            color: black;
            background-color: #a98e35;
            font-size: 18px;
            width: 75%;
            border-radius: 20px;
            margin-bottom: 25px;
        }

        .admin-activity > div {
            display: none;
        }

        .admin-activity > div.active {
            display: block;
        }

        #admin-activity-desc {
            width: 40%;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
            text-align: left;
            border: 1px solid #a98e35;
            border-radius: 10px;

            h2 {
                font-size: 20px;
                color: #a98e35;
                margin-bottom: 15px;
            }

            p {
                font-size: 17px;
                color: #ccc;
                margin-bottom: 10px;
            }

            button {
                margin-top: 15px;
                font-size: 30px;
                color: #a98e35;
                background: none;
                border: none;
                padding: 0;
                cursor: pointer;
            }
        }

        table {
            width: 98%;
            border-collapse: collapse;
        }
        th, td {
            width: 14%;
            border: 1px solid #ddd;
            padding: 5px;
            text-align: center;
            font-size: 11px;
        }
        th {
            background-color: #dbc067;
        }

        td {
            color: white;
        }

        .jour-selected {
            border: 1px solid #dbc067;
            border-radius: 50px;
            background-color: #dbc067;
            color: black;
            font-weight: bold;
        }

        #newActiPopup {
            width: 60px;             
            height: 60px;
            margin-left: auto;
            margin-right: auto;
            padding: 0;            
            font-size: 50px;
            cursor: pointer;
            background-color: #dac68798; 
            color: #dbc067;             
            border: 1px solid #dbc067;             
            border-radius: 50%;       
            display: flex;            
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
            transition: background-color 0.3s;
            margin-top: 90px;
        }

        #newActiPopup:hover {
            background-color: #ffc40078;
        }

        #newActiPopup:hover span {
            transform: rotate(180deg);   /* Rotation de 180 degrés */
            transition: transform 0.7s ease; /* Transition pour une rotation en douceur */
        }

        .popup {
            display: none; 
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6); 
            z-index: 1000;
        }

        .popup-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            width: 300px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            text-align: center;
        }

        .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 24px;
            font-weight: bold;
            color: #333;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block js %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        $(document).ready(function() {
            const newActiPopup = document.getElementById('newActiPopup');
            const closePopupBtn = document.getElementById('closePopupBtn');
            const popup = document.getElementById('popupNewActi');

            $("#newActiPopup").click(function() {
                popup.style.display = 'block';
            });
            $("#closePopupBtn").click(function() {
                popup.style.display = 'none';
            });
            window.addEventListener('click', function (event) {
                if (event.target === popup) {
                    popup.style.display = 'none';
                }
            });        
        });

        function showDesc(id, type) {
            fetch(`/get_activity_info/${id}/${type}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('acti-acti').textContent = data.acti;
                    if (data.departure) {
                        document.getElementById('acti-departure').textContent = 'Départ: ' + data.departure;
                    }
                    if (data.arrival) {
                        document.getElementById('acti-arrival').textContent = 'Arrivé: ' + data.arrival;
                    }
                    if (data.hour) {
                        document.getElementById('acti-date').textContent = 'Date: ' + data.date + ' ' + data.hour;
                    }
                    else if (data.date) {
                        document.getElementById('acti-date').textContent = 'Date: ' + data.date;
                    }
                    else if (data.start_date && data.end_date) {
                        document.getElementById('acti-date').textContent = 'Date: ' + data.start_date + ' au ' + data.end_date;
                    }
                    document.getElementById('acti-price').textContent = 'Prix: ' + data.price + '€';
                    
                    document.getElementById('acti-customer-name').textContent = 'Nom: ' + data.name;
                    if (data.phone) {
                    document.getElementById('acti-customer-phone').textContent = 'Numéro: ' + data.phone;
                    }
                    if (data.email) {
                    document.getElementById('acti-customer-email').textContent = 'Email: ' + data.email;
                    }

                    // Afficher les infos et masquer la liste
                    document.getElementById('admin-activity-desc').classList.add('active');
                    document.getElementById('admin-activity-list').classList.remove('active');
                    //document.getElementById('container').style.transform = 'translateX(-50%)';
                });
        }

        function showList() {
            //document.getElementById('container').style.transform = 'translateX(0)';
            document.getElementById('admin-activity-desc').classList.remove('active');
            document.getElementById('admin-activity-list').classList.add('active');
        }

        function changeDay(annee,mois,jour) {            
            const href = '/administration/calendrier/' + annee + '/' + mois + '/' + jour;
            window.location.href = href;
        };
    </script>

{% endblock %}




