{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="sub-header">
        <img class="ban" src="{% static 'images/aeroport.jpg'%}">
        <h1>NOS SERVICES - EXCURSION TOURISTIQUE</h1>
    </div>

    <div class="body-content">
        <div class="service-in-content">
            <h1 style="text-transform: uppercase;">Excursions Touristique</h1>
            <h2>Sur toute La Réunion</h2>
            </br>
            <div class="service-in-bloc">
                <div class="service-in-bloc-left">
                    <p>Explorez les merveilles naturelles et culturelles de l'île de la Réunion avec nos passionnantes excursions touristiques.</p>
                    <br><br>
                    <p>Chez <span style="color: #dbc067;">RG.LUXEEVENTS</span>, nous sommes fiers de vous offrir une expérience authentique et enrichissante, conçue pour vous faire découvrir les trésors cachés de cette destination paradisiaque.</p>
                    <br><br>
                    <p>Nos guides locaux sont des experts de l'île de la Réunion. Ils sont passionnés par leur terre natale et sont là pour vous faire découvrir les secrets les mieux gardés, les sites emblématiques et les traditions locales qui font de cette île une destination unique.</p>
                    <br><br>
                    <p>Nous proposons une variété d'excursions soigneusement conçues pour répondre à tous les intérêts et à tous les niveaux d'aventure. Que vous souhaitiez explorer les paysages volcaniques spectaculaires, vous aventurer dans les forêts tropicales luxuriantes ou découvrir la riche culture créole, nous avons l'excursion parfaite pour vous.</p>
                    <br><br>
                    <p>Laissez-vous emporter par la beauté naturelle et la richesse culturelle de l'île de la Réunion. Profitez de chaque instant de votre excursion, en découvrant des paysages à couper le souffle, en rencontrant des habitants chaleureux et en vous imprégnant de l'atmosphère envoûtante de cette île tropicale.</p>
                </div>
                <div class="service-in-bloc-right">
                    <img class="service-in-photo" src="{% static 'images/tourisme.jpg'%}" alt="aeroport">
                </div>
            </div>
            <br><br>
            <p>Que vous soyez un amateur de randonnée passionné, un passionné de nature avide d'aventure ou simplement à la recherche d'une expérience authentique et enrichissante, nos excursions touristiques sur l'île de la Réunion sauront vous combler. Réservez dès aujourd'hui et laissez-nous vous guider à la découverte des trésors cachés de cette île tropicale.</p>  
            <br><br>
            <p>Contactez-nous dès maintenant pour réserver votre excursion ou pour obtenir de plus amples informations sur nos offres touristiques.</p>
        </div>
    </div>

{% endblock %}
