{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="sub-header">
        <img class="ban" src="{% static 'images/aeroport.jpg'%}">
        <h1>NOS SERVICES - AEROPORT</h1>
    </div>

    
    <div class="body-content">
        <div class="service-in-content">
            <h1 style="text-transform: uppercase;">Transfert Aéroport - Roland Garros</h1>
            <h2>A l'arrivée ou au départ de La Réunion</h2>
            </br>
            <div class="service-in-bloc">
                <div class="service-in-bloc-left">
                    <p>Nous sommes fiers de vous offrir notre service de transfert aéroportuaire, conçu pour vous assurer un trajet confortable, sécurisé et sans encombre entre l'aéroport et votre destination finale.</p>
                    <p>Nous comprenons l'importance de commencer ou de terminer votre voyage dans les meilleures conditions. Nos véhicules modernes et nos chauffeurs expérimentés garantissent un trajet en toute tranquillité, où votre confort est notre priorité absolue. </p>
                    <br><br>
                    <p>Nous sommes là pour répondre à vos besoins spécifiques. Que vous voyagiez seul, en famille ou en groupe, nous proposons une gamme de véhicules adaptés à toutes les tailles de groupe, avec des options de sièges pour enfants disponibles sur demande.</p>
                    <br><br>
                    <p>Peu importe l'heure de votre vol, nous sommes là pour vous accueillir. Notre service de transfert fonctionne autour de l'horloge pour s'adapter à votre emploi du temps, que votre vol arrive tard dans la nuit ou tôt le matin.</p>
                    <p>Nous suivons de près l'horaire de votre vol pour nous assurer que votre chauffeur est présent à l'aéroport dès votre arrivée, même en cas de changements de dernière minute.</p>
                    <p>À votre arrivée à l'aéroport, votre chauffeur vous attendra à la sortie des bagages, arborant une pancarte à votre nom. Il vous aidera avec vos bagages et vous conduira directement à votre véhicule, prêt à vous conduire à votre destination.</p>
                    <br><br>
                    <p>Que vous vous rendiez à votre hôtel, à votre domicile ou à tout autre endroit de votre choix, nous nous assurons que votre trajet se déroule sans encombre. Notre service de transfert aéroportuaire est disponible pour toutes les destinations locales.</p>
                </div>
                <div class="service-in-bloc-right">
                    <img class="service-in-photo" src="{% static 'images/aeroport.jpg'%}" alt="aeroport">
                </div>
            </div>
            <br><br>
            <p>Que vous vous rendiez à votre hôtel, à votre domicile ou à tout autre endroit de votre choix, nous nous assurons que votre trajet se déroule sans encombre. Notre service de transfert aéroportuaire est disponible pour toutes les destinations locales.</p>  
            <br><br>
            <p>Faites confiance à <span style="color: #dbc067;">RG.LUXEEVENTS</span> pour un voyage en toute sérénité, dès que vous franchissez les portes de l'aéroport jusqu'à votre lieu de destination. Réservez dès aujourd'hui et laissez-nous prendre soin de vous dès votre arrivée !</p>
        </div>
        <a href="{% url 'home' %}#module-resa" class="button-resa">Réserver</a>       
    </div>

{% endblock %}
