{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="sub-header">        
    <img class="ban" src="{% static 'images/ban-contact.jpg'%}">
    <h1>CONTACT</h1>
</div>

<div class="body-content">
    <div class="contact-content">
        <div class="contact-bloc contact-information">
            <h2>INFORMATION</h2>
            <h3>Numéro de téléphone</h3>
            <p>(+262) 0693 40 00 15</p>
            <h3>E-mail</h3>
            <p>rg.luxeevents@gmail.com</p>
            <h3>Adresse</h3>
            <p>97440 Saint André</p>
        </div>
        
        <div id="contact-form" class="contact-bloc contact-form">
        
            <h2>Contactez nous si vous avez une question</h2>
            <p>
                Veuillez écrire vos nom, prénom, adresse mail et un message.
                Un de nos membres sera heureux de vous contacter directement et de répondre dés que possible.
            </p>
            <div class="contact-form-p">
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block css %}
    <style>

        .contact-content {
            padding-top: 60px;
            display: flex;
            gap: 20px;
        }
        @media (max-width: 900px) {
            .contact-content {
                flex-direction: column;
                align-items: center;
            }
            .contact-bloc {
                width: 95vw;
                max-width: 400px;
            }
        }

        .contact-bloc {
            flex: 1;
            padding: 1em;
        }

        .contact-bloc h2 {
            font-family: 'Poppins', sans-serif, 'arial';
            font-weight: 600;
            font-size: 30px;
            color: #dbc067;
            text-align: center;
        }
        @media (max-width: 700px) {
            .contact-bloc h2 {
                font-size: 20px;
            }
        }

        .contact-bloc h3 {
            font-family: 'Roboto', sans-serif, 'arial';
            font-weight: 400;
            font-size: 25px;
            color: #ddd;
            line-height: 1.5;
            text-align: center;
            padding-top: 80px;
        }

        .contact-bloc p {
            font-family: 'Roboto', sans-serif, 'arial';
            font-weight: 400;
            font-size: 20px;
            color: #9b9b9b;
            line-height: 1.5;
            text-align: center;
        }

        .contact-form input[type=text],
        .contact-form input[type=email],
        .contact-form textarea {
            width: 100%;
            padding: 12px;
            border: 2px solid #dbc067;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
            text-align: left;
            background-color: #000;
            color: #ddd;
        }

        .contact-form input[type=text]:focus-visible,
        .contact-form input[type=email]:focus-visible,
        .contact-form textarea:focus-visible {
            outline: none;
            box-shadow: 0 0 15px #dbc067;
        }

        .contact-form button[type=submit] {
            background-color: #dbc067;
            color: #111;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .contact-form button[type=submit]:hover {
            background-color: #dbc067;
        }

        .contact-form-p p {
            text-align: left;
        }

        .contact-form-p {
            padding-top: 60px;
        }
    </style>
{% endblock %}