{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="sub-header">
        <img class="ban" src="{% static 'images/aeroport.jpg'%}">
        <h1>Photomaton</h1>
    </div>

    <div class="body-content">
        <div class="service-in-content">
            <h1 style="text-transform: uppercase;">Location de photomaton</h1>
            <h2>Pour vos soirées et êvénements, partout sur l'île</h2>
            </br>
            <div class="service-in-bloc">
                <div class="service-in-bloc-left">
                    <div class="module-reservation">
                        <div class="reservation-title">
                            <h1>Réservation</h1>
                            <h2>Calculez le prix de votre réservation</h2>
                        </div>
                        <div class="tab-content">
                            <div id="tab-utilitaire" class="mod-resa-block active">
                                <img class="module-background" src="{% static 'images/tourisme.jpg'%}">
                                <div class="reservation-body">
                                    
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit">Calculer le prix</button>     
                                    </form>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="service-in-bloc-right">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block css %}
    <style>
        .module-reservation {
            position: relative;
            text-align: center;
            display: inline-block;
            height: 700px;
            width: 500px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;
            background-color: #777;
            -webkit-box-shadow: 0 0 200px #dbc067, 0 1px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 200px #dbc067, 0 1px 2px rgba(0, 0, 0, 0.3);
            overflow: hidden;
        }

        .reservation-title {
            width: 100%;
            height: 150px;
            background: linear-gradient(#dbc067, #ffeaa7);
            border-bottom: 1px solid #333;
        }

        .mod-resa-block {
            display: inline-block;
            height: 100%;
            width: 100%
        }

        .module-background {
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            opacity: 0.4;
        }

        .reservation-body {
            position: absolute;
            width: 100%;
            top: 170px;
            left: 50%;
            transform: translate(-50%, 0);
        }

        .module-reservation h1 {
            line-height: 50px;
            font-size: 40px;
            font-weight: bold;
            text-transform: uppercase;
            color: #000;
            text-align: center;
        }

        .module-reservation p {
            margin: 20px 0 0;
        }

        .module-reservation p:first-child {
            margin-top: 0;
        }

        .module-reservation input[type=text],
        .module-reservation input[type=password] {
            width: 278px;
        }

        .module-reservation p.submit {
            text-align: center;
        }

        :-moz-placeholder {
            color: #c9c9c9 !important;
            font-size: 13px;
        }

        ::-webkit-input-placeholder {
            color: #ccc;
            font-size: 13px;
        }

        /* Formulaire */
        .reservation-body input[type=text], .contact-form textarea {
            width: 100%; 
            padding: 8px;
            border: 1px solid #ccc; 
            border-radius: 4px; 
            box-sizing: border-box; 
            margin-top: 6px; 
            resize: vertical; 
            text-align: left;
        }

        .reservation-body button[type=submit] {
            background-color: #dbc067;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 20px;
        }

        .reservation-body button[type=submit]:hover {
            background-color: #d1af3e;
        }

        .reservation-body p {
            text-align: left;
        }

        .reservation-body form{
            width: 80%;
            margin-right: auto;
            margin-left: auto;
        }

    </style>
{% endblock %}

{% block js %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        $(document).ready(function() {
            flatpickr(".flatpickr-date", {
                dateFormat: "d/m/Y",    // Format combiné pour date et heure (dd/mm/yyyy hh:mm)
                allowInput: true,     // Permet de saisir manuellement la date
                altInput: true,       // Affiche un champ alternatif pour la saisie
                altFormat: "d/m/Y",  // Format de la date dans l'affichage alternatif
                minDate: "today",  // Empêche la sélection de dates avant aujourd'hui
                maxDate: "31.12.2100"
            });
        });

    </script>

{% endblock %}
