{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="sub-header">  
        <img class="ban" src="{% static 'images/aeroport.jpg'%}">
        <h1>NOS SERVICES</h1>
    </div>

    <div class="body-content">
        <div class="services-content">
            <div class="services-bloc"> 
                <a href="{% url 'aeroport' %}">
                    <img src="{% static 'images/service-aeroport.jpg'%}">
                    <div class="services-name">
                        <h2>Transfère aéroport</h2>
                    </div>
                </a> 
            </div>
            <div class="services-bloc"> 
                <a href="{% url 'mariage' %}">
                    <img src="{% static 'images/service-mariage2.jpg'%}">
                    <div class="services-name">
                        <h2>Mariage</h2>
                    </div>
                </a> 
            </div>
            <div class="services-bloc"> 
                <a href="{% url 'transport' %}">
                    <img src="{% static 'images/aeroport.jpg'%}">
                    <div class="services-name">
                        <h2>Transfert sur l'île</h2>
                    </div>
                </a> 
            </div>
            <div class="services-bloc"> 
                <a href="{% url 'tourisme' %}">
                    <img src="{% static 'images/tourisme.jpg'%}">
                    <div class="services-name">
                        <h2>Excursion touristique</h2>
                    </div>
                </a> 
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
<style>
    .services-content {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
        text-align: center;
        gap: 20px;
    }
    @media (max-width: 900px) {
        .services-content {
            grid-template-columns: 1fr;
        }
        .services-bloc, .services-bloc img {
            width: 90vw;
            max-width: 350px;
            height: auto;
        }
        .services-name h2 {
            font-size: 1.2rem;
        }
    }

    .services-bloc {
        position: relative;
        text-align: center;
        color: #dbc067;     
        margin-top: 45px;
        height: 300px;
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        box-shadow: 0 0 30px #dbc067;
        background-color: #777;
        overflow: hidden;

        a {
            display: inline-block;
            transition: transform 1.0s ease;
        }

        img {     
            height: 300px;  
            width: 600px;
            border-radius: 20px;
            opacity: 0.5;
        }

        a:hover {
            transform: scale(1.1); 
            cursor: pointer;
        } 
    }

    .services-name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
    }

    .services-name h2 {
        font-size: 25px;
        padding-bottom: 5px;
        color: #dbc067;
    }
</style>
{% endblock %}